@page "/counter"
@using Dev.Lau.Blazor.Authentication.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer
@inject ServiceBusService _serviceBusService;
@* @attribute [Authorize(Policy = "Counter.Read")] @* This gives a hard 404, because I don't have this role. *@

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorizing>Working on it</Authorizing>
        <Authorized>Hallo</Authorized>
        <NotAuthorized>Meut niet</NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

<CascadingAuthenticationState>
    <AuthorizeView Roles="Counter.Read">
        <Authorizing>Nog een keer proberen</Authorizing>
        <Authorized>Nog eens hallo</Authorized>
        <NotAuthorized>Meut nog steeds niet</NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private async Task IncrementCount()
    {
        currentCount++;

        await _serviceBusService.Dispatch(currentCount);
    }
}
